<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/javasc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        var arr= new Array();

        $(document).on("click",'.cal', function(){
            var new_input=$(this).val(); //클릭한 것의 value 값
            if(arr.length === 0 && (new_input==="*" || new_input==="/")) { //아무것도 없는 상황에서 곱셈 나눗셈은 불가능하다고 예외처리
                return false;
            }
            arr.push(new_input); // append는 왜 안되는거지??????
            var old_input=$(".calOutput").val(); //기존에 있던 값을 넣어줌
            var result=old_input+new_input; // 두 값을 합침
            $(".calOutput").val(result); //이를 다시 value로 넣어줌

            console.log(arr)
        });


        $(document).on("click",'.result', function(){
            var str = ""; //eval을 사용하기 위해 문자열로 바꿔주기 위함

            console.log("1")

            console.log(arr)

            for(var i = 0; i < arr.length; i+=1) {


                str = str + arr[i];
            }

            var result_cal = eval(str);

            $(".calOutput").text(result_cal);
            arr = [];


        });

        // var init=$(".init");
        // function init(){
        //     $(".calOutput").value='';
        // }

    </script>



</head>
<body>
<p>함수 설명</p>
<p>수식 입력</p>
<textarea class="calOutput" cols="30" rows="10" style=" width:247px; height:21px;"></textarea>
<button class="cal plus" value="+">+</button>
<button class="cal min"  value="-">-</button>
<button class="cal mul"  value="*">*</button>
<button class="init"  value="clear">Clear</button>
<button class="cal div"  value="/">/</button>
<button class="cal dot"  value=".">.</button>
<button class="result"  value="=">=</button>



</body>
</html>