body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.explanation {
  font-family: 'Do Hyeon', sans-serif;

}


.total{
  margin: 60px;
  /*margin-left: 50px;*/
}

.box{
  margin:30px;
  padding: 50px;
  border: 1px solid;

}

.cal{
  width:50px;
  height:30px;
}
